<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/teste.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <title>Portfolio - Leo</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="Foto do perfil">
            <h1>Leonardo Malini</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://github.com/leomalini">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/leomalini_/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/leonardo-malini-coradini-45494217b/">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>

        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio">
                    <i class="bi bi-house" aria-hidden="true"></i>
                    Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>

              </ul>
        </nav>
    </aside>
    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Leonardo Malini</h2>
                <span id="subtitle" class="text-white texte-shadow">Estudante, Desempregado e Vascaíno</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" src="../static/img/perfil.jpg" alt="Foto de perfil" data-anime="left">
                    </div>
                    <div class="col-md-8 mt-3" data-anime="right">
                        <h3>Vasco da Gama</h3>
                        <p>Club de Regatas Vasco da Gama é uma entidade sócio-poliesportiva 
                            brasileira com sede na cidade do Rio de Janeiro, fundada em 21 de agosto de 1898 por um grupo de remadores</p>
                        <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">Aniversário:
                                        <span class="fw-lighter">17 de Agosto de 2001</span>
                                    </li>
                                    <li class="list-group-item">Idade:
                                        <span class="fw-lighter">20 anos</span>
                                    </li>
                                    <li class="list-group-item">Cidade:
                                        <span class="fw-lighter">Vila Velha</span>
                                    </li>
                                    <li class="list-group-item">Estado:
                                        <span class="fw-lighter">Espírito Santo</span>
                                    </li>
                                  </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">Aniversário:
                                        <span class="fw-lighter">17 de Agosto de 2001</span>
                                    </li>
                                    <li class="list-group-item">Idade:
                                        <span class="fw-lighter">20 anos</span>
                                    </li>
                                    <li class="list-group-item">Cidade:
                                        <span class="fw-lighter">Vila Velha</span>
                                    </li>
                                    <li class="list-group-item">Estado:
                                        <span class="fw-lighter">Espírito Santo</span>
                                    </li>
                                  </ul>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="habilidades" class="mt-5 section-bg">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>

                <div class="row pb-3">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">teste1</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">teste2</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">teste3</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">teste4</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">teste5</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">teste6</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">teste7</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">teste8</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <h2 class="pt-3 pt-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Estudante</h4>
                            <h5>2018</h5>
                            <p><em>Sesi - Araçás</em></p>
                            <p>Ensino médio</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Estudante</h4>
                            <h5>2020 - atual</h5>
                            <p><em>Unisales</em></p>
                            <p>Tecnólogo em Análise e Desenvolvimento de Sistemas</p>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profisional</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Estagiário</h4>
                            <h5>03/2021 - 09/2021</h5>
                            <p><em>Grupo Águia Branca</em></p>
                            <p>Estagiário DevOps</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Teste</h4>
                            <h5>Teste</h5>
                            <p><em>Teste</em></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <section id="contato" class="pt-5 pb-5 section-bg">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i>Localização:</h4>
                                <p>Vitória, ES</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i>Email:</h4>
                                <p>leomalini61@gmail.com</p>
                            </div>
                            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3741.5902335598976!2d-40.32443608446217!3d-20.317221355715066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb83d9c554b088b%3A0xac078b394a6e0017!2sUniSales%20-%20Centro%20Universit%C3%A1rio%20Salesiano!5e0!3m2!1spt-BR!2sbr!4v1639189414836!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0 form-bg" data-anime="left">
                            <form class="row g-3 ">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome...">
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">Email:</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email...">
                                </div>
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem:</label>
                                  <textarea type="text" class="form-control" id="mensagem" placeholder="Digite sua mensagem..." name="mensagem" rows="10"></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                  <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>